#canvas_container {
    width: 640px;
    height: 480px;
    position: relative;
}

#myCanvas {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
}

#coinAnimation {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
}

#bgCanvas {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
}